<!doctype.html>
  <html>

  <head>
    <title>RESET PASSWORD</title>
    <link rel="stylesheet" href="/css/log.css">
  </head>

  <body>
    <div class='header'>
      <div class='header-image'>
        <img src='https://hrms.cygrp.com/content/images/logo.png' class='header-logo'>
      </div>


      <div class="login-page">
        <div class="form">

          <form class="login-form">
            <h1>Reset your Password.</h1>
            <input type="password" placeholder="New Password" id="p1" />
            <input type="password" placeholder="Confirm password" id="p2" />
            <button><a class='continue' href='Login.html' id="Reset">Submit</a></button>


          </form>
        </div>
      </div>
    </div>
    <script src='/js/index.js'></script>
  </body>

  </html>